main#feedback {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 540px;
	height: 100vh;

	.action-bar {
		align-items: flex-center;
		gap: 8px;
		margin-bottom: 3rem;
		padding-left: 0;
		padding-right: 0;
		background: transparent;

		a {
			color: var(--dark-600);
			font-size: 14px;
			font-weight: 700;
		}
	}

	form {
		position: relative;
		border-radius: 10px;
		height: fit-content;
		padding: 5rem 2.5rem;
		background-color: var(--light-white);

		.symbol {
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			transform: translateY(-50%);
			top: 0;
			width: 56px;
			height: fit-content;
			aspect-ratio: 1;
			border-radius: 50%;
			background-image: url(../assets/bg-gradient.jpg);
			background-size: cover;
		}

		h1 {
			font-size: 24px;
			font-weight: 700;
			color: var(--dark-500);
			margin-bottom: 2.5rem;
		}

		.input-block {
			display: flex;
			flex-direction: column;
			font-size: 14px;

			label {
				font-weight: 700;
				color: var(--dark-500);
			}

			span {
				color: var(--dark-600);
			}
		}

		.buttons {
			display: flex;
			justify-content: flex-end;
			gap: 16px;

			.danger {
				margin-right: auto;
			}
		}
	}
}
