.action-bar {
	display: flex;
	align-items: center;
	gap: 38px;
	border-radius: 10px;
	padding: 0.875rem 0.875rem 0.875rem 1.5rem;
	width: 100%;
	height: fit-content;
	color: var(--light-white);
	background-color: var(--dark-400);

	h1 {
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 1px;
	}

	.cta-button {
		margin: 0 0 0 auto;
	}
}
